/***
    ==========================================================================================
    ===== CEJS Course === Campus cejscourseWrappers ===== Content Type: #5650 ================
    ==========================================================================================
    CEJS Course - Content Type requires Organizer - ZoneA

*/

.organizerWrapper h2.organizerTitle {
    margin-bottom: 3rem;
}

.cejscourseWrapper.card {
    background-color: #f7f7f7;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    margin: 0 0 3rem 0;
    padding: 0;
}

.cejscourseWrapper:first-child {
    border: none;
    margin: 0;
    padding: 0;
}

.cejscourseWrapper .card-header {
    margin: 0 1.5rem 1.6rem 1.5rem;
    padding-top: 1rem;
}

.cejscourseWrapper .card-body {
    margin: 0 1.5rem;
    padding-bottom: 1rem;
}

.cejscourseWrapper ul {
    margin: 0;
}

.cejscourseWrapper h3.card-title {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0;
    padding: 1rem 0 0 0;
}

.cejscourseWrapper h3.card-title a {
    color: #AA0000;
}

.cejscourseWrapper h3.card-title a:hover,
.cejscourseWrapper h3.card-title a:focus {
    color: #AA0000;
}

.cejscourseWrapper p.card-subtitle {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.cejscourseWrapper .articleSummary p {
    font-weight: 500;
}

.cejscourseWrapper p.shortSummary a {
    color: #aa0000;
    text-decoration: none;
}

.cejscourseWrapper p.shortSummary a:hover,
.cejscourseWrapper p.shortSummary a:focus {
    text-decoration: underline;
}

.cejscourseWrapper span.readMore {
    display: inline-block;
}

.cejscourseWrapper span.readMore:after {
    color: #aa0000;
    content: ' b';
    font-family: 'seattle-u';
    position: relative;
    text-transform: lowercase;
    top: 4px;
    white-space: nowrap;
}

.cejscourseWrapper ul.iconDashboard li.sdgIcon {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.cejscourseWrapper ul.iconDashboard li:before {
    content: unset;
}

.cejscourseWrapper img.listgroupImage {
    max-height: 100px;
    max-width: 100px;
    padding: 0;
}

.cejscourseWrapper ul.lsapIconDashboard li.lsapIcon {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.cejscourseWrapper ul.lsapIconDashboard li:before {
    content: unset;
}

.cejscourseWrapper .lsapIcon img.listgroupImage {
    max-height: 100px;
    max-width: 100px;
    padding: 0 0 0.5rem 0;
}

.cejscourseWrapper .externalLink a:hover,
.cejscourseWrapper .externalLink a:focus {
    text-decoration: underline;
}

.cejscourseWrapper hr.articleBorderBottom {
    border-top: 3px solid #e5e5e5;
    display: block;
    height: 3px;
    margin-bottom: 20px;
}


/***
    ==========================================================================================
    ===== CEJS Course === Campus cejscourseWrappers ===== Content Type: #5650 ================
    ==========================================================================================
    CEJS Course - Content Type requires Organizer

*/