/***
    ==========================================================================================
    ===== CEJS Research === Campus cejsResearchWrappers ===== Content Type: #5945 ================
    ==========================================================================================
    CEJS Research - Content Type requires Organizer - ZoneA

*/

.organizerWrapper h2.organizerTitle {
    margin-bottom: 3rem;
}

.cejsResearchWrapper.card {
    background-color: #f7f7f7;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    margin: 0 0 3rem 0;
    padding: 0;
}

.cejsResearchWrapper:first-child {
    border: none;
    margin: 0;
    padding: 0;
}

.cejsResearchWrapper .card-header {
    margin: 0 1.5rem 1.6rem 1.5rem;
    padding-top: 1rem;
}

.cejsResearchWrapper .card-body {
    margin: 0 1.5rem;
    padding-bottom: 1rem;
}

.cejsResearchWrapper ul {
    margin: 0;
}

.cejsResearchWrapper h3.card-title {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0;
    padding: 1rem 0 0 0;
}

.cejsResearchWrapper h3.card-title a {
    color: #AA0000;
}

.cejsResearchWrapper h3.card-title a:hover,
.cejsResearchWrapper h3.card-title a:focus {
    color: #AA0000;
}

.cejsResearchWrapper p.card-subtitle {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.cejsResearchWrapper .publishDetails {
    margin: 1.6rem 0;
}

.cejsResearchWrapper .publishDetails p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.cejsResearchWrapper .journalLink a {
    color: #088099;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
}

.cejsResearchWrapper .journalLink a:hover {
    text-decoration: underline;
}

.cejsResearchWrapper .journalLink a:focus {
    text-decoration: underline;
}






.cejsResearchWrapper .articleSummary p {
    font-weight: 500;
}

.cejsResearchWrapper p.shortSummary a {
    color: #aa0000;
    text-decoration: none;
}

.cejsResearchWrapper p.shortSummary a:hover,
.cejsResearchWrapper p.shortSummary a:focus {
    text-decoration: underline;
}

.cejsResearchWrapper span.readMore {
    display: inline-block;
}

.cejsResearchWrapper span.readMore:after {
    color: #aa0000;
    content: ' b';
    font-family: 'seattle-u';
    position: relative;
    text-transform: lowercase;
    top: 4px;
    white-space: nowrap;
}

.cejsResearchWrapper ul.iconDashboard li.sdgIcon {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.cejsResearchWrapper ul.iconDashboard li:before {
    content: unset;
}

.cejsResearchWrapper img.listgroupImage {
    max-height: 100px;
    max-width: 100px;
    padding: 0;
}

.cejsResearchWrapper ul.lsapIconDashboard li.lsapIcon {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.cejsResearchWrapper ul.lsapIconDashboard li:before {
    content: unset;
}

.cejsResearchWrapper .lsapIcon img.listgroupImage {
    max-height: 100px;
    max-width: 100px;
    padding: 0 0 0.5rem 0;
}

.cejsResearchWrapper .externalLink a:hover,
.cejsResearchWrapper .externalLink a:focus {
    text-decoration: underline;
}

.cejsResearchWrapper hr.articleBorderBottom {
    border-top: 3px solid #e5e5e5;
    display: block;
    height: 3px;
    margin-bottom: 20px;
}


/***
    ==========================================================================================
    ===== CEJS Research === Campus cejsResearchWrappers ===== Content Type: #5945 ================
    ==========================================================================================
    CEJS Research - Content Type requires Organizer

*/