/***
    ==========================================================================================
    ===== CEJS Research ===== Fulltext Layout ======= Content Type: #5945 ====================
    ==========================================================================================

*/

.organizerWrapper h2.organizerTitle {
    margin-bottom: 3rem;
}

.cejsResearchItem.card {
    background-color: #f7f7f7;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    margin: 0 0 3rem 0;
    padding: 0;
}

.cejsResearchItem:first-child {
    border: none;
    margin: 0;
    padding: 0;
}

.cejsResearchItem .card-header {
    margin: 0 1.5rem 1.6rem 1.5rem;
    padding-top: 1rem;
}

.cejsResearchItem .card-body {
    margin: 0 1.5rem;
    padding-bottom: 1rem;
}

.cejsResearchItem ul {
    margin: 0;
}

.cejsResearchItem h3.card-title {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0;
    padding: 1rem 0 0 0;
}

.cejsResearchItem h3.card-title a {
    color: #AA0000;
}

.cejsResearchItem h3.card-title a:hover,
.cejsResearchItem h3.card-title a:focus {
    color: #AA0000;
}

.cejsResearchItem p.card-subtitle {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.cejsResearchItem .publishDetails {
    margin: 1.6rem 0;
}

.cejsResearchItem .publishDetails p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.cejsResearchItem .journalLink a {
    color: #088099;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
}

.cejsResearchItem .journalLink a:hover {
    text-decoration: underline;
}

.cejsResearchItem .journalLink a:focus {
    text-decoration: underline;
}

.cejsResearchItem .typeDetails {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 0 0 2rem 0;
    padding: 1rem 4rem;
}

.cejsResearchItem .typeDetails p.researchFormat {
    font-weight: 600;
    margin-bottom: 1rem;
}

.cejsResearchItem .typeDetails p.description {
    margin: 0;
}






.cejsResearchItem .articleSummary p {
    font-weight: 500;
}

.cejsResearchItem p.shortSummary a {
    color: #aa0000;
    text-decoration: none;
}

.cejsResearchItem p.shortSummary a:hover,
.cejsResearchItem p.shortSummary a:focus {
    text-decoration: underline;
}

.cejsResearchItem span.readMore {
    display: inline-block;
}

.cejsResearchItem span.readMore:after {
    color: #aa0000;
    content: ' b';
    font-family: 'seattle-u';
    position: relative;
    text-transform: lowercase;
    top: 4px;
    white-space: nowrap;
}

.cejsResearchItem ul.iconDashboard li.sdgIcon {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.cejsResearchItem ul.iconDashboard li:before {
    content: unset;
}

.cejsResearchItem img.listgroupImage {
    max-height: 100px;
    max-width: 100px;
    padding: 0;
}

.cejsResearchItem ul.lsapIconDashboard li.lsapIcon {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.cejsResearchItem ul.lsapIconDashboard li:before {
    content: unset;
}

.cejsResearchItem .lsapIcon img.listgroupImage {
    max-height: 100px;
    max-width: 100px;
    padding: 0 0 0.5rem 0;
}

.cejsResearchItem .externalLink a:hover,
.cejsResearchItem .externalLink a:focus {
    text-decoration: underline;
}

.cejsResearchItem hr.articleBorderBottom {
    border-top: 3px solid #e5e5e5;
    display: block;
    height: 3px;
    margin-bottom: 20px;
}


/***
    ==========================================================================================
    ===== CEJS Research ===== Fulltext Layout ======= Content Type: #5945 ====================
    ==========================================================================================

*/